<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="header" style="display:flex;margin-top:1rem;">
      <ion-icon routerLink="/home" style="font-size: 1.4rem;margin:auto;margin-left:0rem;margin-right:1rem;" name="arrow-back-outline"></ion-icon>
      <h3 routerLink="/home" style="margin: auto;margin-left:0rem;">Volver</h3>
      <ion-icon (click)="generalService.menuUser()" style="color: white;margin: auto;margin-right: 1rem;font-size: 1.6rem;" name="person"></ion-icon>
    </div>

    <div style="margin-top:2rem;">
      <h1>{{paquete.nombre}} <ion-chip style="border-radius: 0.3rem;" color="{{(paquete.estado == 'POR REPARTIR' ? 'danger' : 'success')}}">{{paquete.estado}}</ion-chip></h1>
      <p style="font-size: 1.1rem;margin-top: 0.2rem;color: #c1c1c1;"><b>Autor:</b> {{paquete.autor}}</p>
      <p style="font-size: 1.1rem;margin-top: -0.9rem;color: #c1c1c1;"><b>Precio:</b> {{ generalService.formatPrecio(paquete?.precio ? paquete.precio.toString() : '') }}</p>
      <p>
        <b>Descripcion:</b><br>
        {{paquete.descripcion}}</p>
    </div>

    <h5 style="margin-top:3rem;">Repartidor: {{ (repartidor ? repartidor.nombre : 'Sin asignar')}}</h5>

    <div style="width: 100%;height: 24rem;margin-top: 3rem;">
      <img src="{{paquete.imagen}}" style="width:100%;height:100%;object-fit: contain;" />
    </div>
  </div>
</ion-content>
